# Ignore build files
/.idea/
/docs/_static/
/docs/_build/
/docs/_templates
*.orig
**/.idea/
**/.spyproject/
**/__pycache__/*
**/*.pyc
**/*.xls
**/src/

# Ignore result excel and image files
**/[Rr]esults/
**/[Ff]igures/

# Ignore virtual environment directory
venv

# Ignore logs
**/*.log.*
**/log_files/
**.log


