bool processParallel True #deactivate for one single case
bool cleanModeLatex False
bool forceProcess  True #even if results file exist it proceess the results, otherwise it checks if it exists
bool setPrintDataForGle False

bool calculateHeatDemand False
bool calculateSPF False
bool calculateElectricDemand False

#string outputLevel "DEBUG"

#########
int yearReadedInMonthlyFile -1
string firstMonth "January"
int reduceCpu 1
int numberOfYearsInHourlyFile 1 #20
#########
string typeOfProcess "completeFolder"
#string typeOfProcess "casesDefined"
#string fileName "buildingRun"
#string pathBase "C:\Daten\OngoingProject\TRI-HP\Simulations\BuildingISOFit"

string pathBase "C:\Daten\OngoingProject\OptimEase\building_ISO\Simulations\BuildingISOFit"


string latexNames "C:\Daten\GIT\pytrnsys_trihp\pytrnsys_trihp\pycharm\latexNames.json"
#string figureFormat "pdf"

########## results file array ############

calc AreaBui_m2 = AreaBui
calc QDemandSH_MWh_Tot = PheatBui_kW_Tot/1000.
calc QDemandkWhOverM2 = PheatBui_kW_Tot/AreaBui

calc QDemandSH_kWh_Max = PheatBui_kW_Max

calcMonthly QDemandSH_kWh = PheatBui_kW
calcHourly  Qimb_kW = PheatBui_kW+PBuiSol_kW+PBuiGains_KW+PAcumBui_kW+PBuiUAstatic_kW+PbuiInf_kW+PbuiVent_kW

calcMonthly PLossWall_kW = PBuiUAstatic_kW
calcMonthly PLossInfVen_kW = PbuiInf_kW+PbuiVent_kW
calcMonthly Qimb_kW = PheatBui_kW+PBuiSol_kW+PBuiGains_KW+PLossWall_kW+PLossInfVen_kW + PAcumBui_kW

stringArray monthlyBalance "BuildingBalance" "PheatBui_kW"  "PBuiSol_kW" "PBuiGains_KW" "PLossWall_kW" "PLossInfVen_kW" "PAcumBui_kW"

calcMonthly QDemandDHW_kWh = qSysOut_DhwDemand
calcMonthly ElDemand_kW = elSysOut_HHDemand

stringArray plotMonthly "QDemandSH_kWh"
stringArray plotMonthly "QDemandDHW_kWh"
stringArray plotMonthly "ElDemand_kW"

#stringArray plotHourly "Troom" "Qimb_kW" "PheatBui_kW" "PBuiSol_kW" "PBuiGains_KW" "PBuiUAstatic_kW" "PbuiInf_kW" "PbuiVent_kW" "PAcumBui_kW"

calcHourly qDHWDemand_kWh = qSysOut_DhwDemand
calcHourly qSHDemand_kWh = PheatBui_kW
calcHourly elDemand_kW = elSysOut_HHDemand

stringArray hourlyToCsv "Demand" "qSHDemand_kWh" "qDHWDemand_kWh" "elDemand_kW"

stringArray results "AreaBui_m2" "QDemandSH_MWh_Tot" "QDemandkWhOverM2" "QDemandSH_kWh" "QDemandSH_kWh_Max"

#stringArray QvsTnormalized "PRdIn_KW"
#stringArray plotHourlyQvsT "PRdIn_KW" "TRdFl" "PRdIn_KW" "TrdRt"


#calcMonthly tambAVG = Tamb/hoursInMonth
#stringArray pathInfoToJson "user" "real" "ideal"
#stringArray pathInfoToJson "building" "mfb90" "mfb30"
#stringArray jsonCalc "Ac_case=AcollAp/yearQDemand*1000" "Vice_case=VIceS/yearQDemand*1000"
#stringArray compareSPFBoxPlot "AcollAp" "qDemand"
#stringArray printBoxPlotGLEData "yearSpfShpDis"
#stringArray compareBoxPlot "yearSpfShpDis""start"  "VTes"  "stop"  "yearSpfShpDis"  "qDemand"  #values to be printed to json