
# Config file used: 

bool runFromCases False
bool ignoreOnlinePlotter True
int reduceCpu  1
bool parseFileCreated True
bool runCases True
#bool removePopUpWindow True
#int firstMonthUsed 12
bool runParallel True

string outputLevel "INFO"
string trnsysExePath "C:\TRNSYS18\Exe\TRNExe.exe"                                                       # !!! has to be changed according to the PC
string addResultsFolder "C:\Daten\OngoingProject\OptimEase\building_ISO\Simulations\BuildingISOFit"     # !!! has to be changed according to the PC

string HOME$ "C:\Daten\GIT\ddck_trihp"                   # !!! has to be changed according to the PC
string PYTRNSYS$ "C:\Daten\GIT\pytrnsys\data\ddcks"   # !!! has to be changed according to the PC
string SPF$ "C:\Daten\GIT\ddck_generic_spf"              # !!! has to be changed according to the PC
string LOCAL$ "C:\Daten\OngoingProject\OptimEase\building_ISO\Simulations\BuildingISOFit"                # !!! has to be changed according to the PC

bool combineAllCases True
#variation alpha alphaWindow 7.5

string runType "runFromConfig"

#changeDDckFile Normal\CitySMA_dryN Cold\CitySMA_DryK Normal\CitySMA_dryN Warm\CitySMA_DryW Cold\CitySTG_DryK Normal\CitySTG_dryN Warm\CitySTG_DryW Cold\CityOTL_DryK Normal\CityOTL_dryN Warm\CityOTL_DryW Cold\CityLUZ_DryK Normal\CityLUZ_dryN Warm\CityLUZ_DryW Cold\CityKLO_DryK Normal\CityKLO_dryN Warm\CityKLO_DryW Cold\CityGVE_DryK Normal\CityGVE_dryN Warm\CityGVE_DryW Cold\CityBER_DryK Normal\CityBER_dryN Warm\CityBER_DryW Cold\CityBAS_DryK Normal\CityBAS_dryN Warm\CityBAS_DryW  Cold\CityDAV_DryK Normal\CityDAV_dryN Warm\CityDAV_DryW

#changeDDckFile building\type5998\database\mfb30_2020 building\type5998\database\mfb30_2020 building\type5998\database\mfb90_2020_maike
#changeDDckFile building\type5998\database\mfb30_2020 building\type5998\database\mfb90_2020_maike
changeDDckFile building\type5998\database\mfb30_2020 building\type5998\database\mfb30_2020

variation AHU useAHU  0 1
variation realUser realUserBehaviour  0 1

#deck useAHU 1 for MFH30 and 0 for MFH90

deck Tdhw 55
deck MfrDhw MfrDHWreal
deck TRdFl 55-15*CoolingOn
#deck TRdFl 45-15*CoolingOn

#deck numberWindows 42

deck CoolingOn 0
deck TambHS 10
deck myTrdSet 0
deck PBuiGainCircLoss_KW 0
deck dtSim 1/30
deck START 0
deck STOP 8760
deck nYearsPre 1
deck nPlotsPerSim 1
#deck MfrBuiHeatRd   MfrBuiRdNom*NOT(myCoolingOn)*PIDRadBui*BoHS #This is to avoid

PYTRNSYS$ generic\head
PYTRNSYS$ weather\weather_data_base
HOME$ weather\SIA\Normal\CitySMA_dryN
HOME$ control\Control-BoHS
PYTRNSYS$ building\internal_gains
PYTRNSYS$ building\type5998\type5998_2020
PYTRNSYS$ building\type5998\database\mfb30_2020
PYTRNSYS$ heating_distribution\type1792\type1792

## DHW
LOCAL$ ddck\custom
PYTRNSYS$ demands\dhw\dhw_mfh_v1

## ELECTRICITY SECTION
PYTRNSYS$ demands\electricity\elDemand

PYTRNSYS$ generic\end
