# Run created by neha.dimri
# Ddck repositories used:
# C:\Daten\OngoingProject\OptimEase\building_ISO\Simulations\BuildingISOFit
# Revision Hash number: not found 
# C:\Daten\GIT\ddck_trihp
# Revision Hash number: not found 
# C:\Daten\GIT\pytrnsys\data\ddcks
# Revision Hash number: not found 

# Config file used: 

bool runFromCases False
bool ignoreOnlinePlotter True
int reduceCpu  1
bool parseFileCreated True
bool runCases True
bool runParallel True
string outputLevel "INFO"
string trnsysExePath "C:\TRNSYS18\Exe\TRNExe.exe"
string addResultsFolder "C:\Daten\OngoingProject\OptimEase\building_ISO\Simulations\BuildingISOFit"
string HOME$ "C:\Daten\GIT\ddck_trihp"
string PYTRNSYS$ "C:\Daten\GIT\pytrnsys\data\ddcks"
string SPF$ "C:\Daten\GIT\ddck_generic_spf"
string LOCAL$ "C:\Daten\OngoingProject\OptimEase\building_ISO\Simulations\BuildingISOFit"
bool combineAllCases True
string runType "runFromConfig"
changeDDckFile building\type5998\database\mfb30_2020 building\type5998\database\mfb30_2020
variation AHU useAHU  0 1
variation realUser realUserBehaviour  0 1
deck Tdhw 55
deck MfrDhw MfrDHWreal
deck TRdFl 55-15*CoolingOn
deck CoolingOn 0
deck TambHS 10
deck myTrdSet 0
deck PBuiGainCircLoss_KW 0
deck dtSim 1/30
deck START 0
deck STOP 8760
deck nYearsPre 1
deck nPlotsPerSim 1
PYTRNSYS$ generic\head
PYTRNSYS$ weather\weather_data_base
HOME$ weather\SIA\Normal\CitySMA_dryN
HOME$ control\Control-BoHS
PYTRNSYS$ building\internal_gains
PYTRNSYS$ building\type5998\type5998_2020
PYTRNSYS$ building\type5998\database\mfb30_2020
PYTRNSYS$ heating_distribution\type1792\type1792
LOCAL$ ddck\custom
PYTRNSYS$ demands\dhw\dhw_mfh_v1
PYTRNSYS$ demands\electricity\elDemand
PYTRNSYS$ generic\end
