# requirements.in
bokeh
configparser
python-dateutil
matplotlib
numpy
oemof.network==0.5.0a1
oemof.solph==0.5.0
oemof.thermal==0.0.6
oemof.tools==0.4.2
openpyxl
pandas
pandas-stubs
plotly
pvlib
Pyomo
recommonmark
scipy
workalendar
xlrd
xlwt