name: Upload release to PyPI

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    environment: PyPI
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Fetch tags
        run: git fetch --tags
      - name: Debug tags
        run: git tag
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python setup.py sdist bdist_wheel --version-tag=$(git describe --tags --abbrev=0)
          twine upload dist/*